<div class="mt-28 mb-2 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 ani_backInLeft aniUtil_active aniUtil_dramatic">
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="{{asset('/images/CGI_Logo.png')}}" class="h-12 w-auto mx-auto" loading="lazy" alt="CGI logo" width="" height="" />
      </div>
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
      <img src="{{asset('/images/cdiscount.svg')}}" class="h-12 w-auto mx-auto" loading="lazy" alt="Cdiscount logo" width="" height="" />
    </div>
    <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
      <img src="{{asset('/images/scc_logo.png')}}" class="h-12 w-auto m-auto" loading="lazy" alt="SCC logo" width="" height="" />
    </div>
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="{{asset('/images/MM_logo.jpg')}}" class="h-12 w-auto mx-auto" loading="lazy" alt="MM logo" width="" height="" />
      </div>
      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
        <img src="{{asset('/images/docaposte_logo.png')}}" class="h-12 w-auto m-auto" loading="lazy" alt="Docaposte logo" width="" height="" />
      </div>
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="{{asset('/images/Michael-Page_logo.png')}}" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
  </div>
