<div {{ attributes }}>
<div class="flex flex-col md:flex-row justify-between items-center">
    
  <p class="font-semibold">
      Nombre total d'offres : {{ computed.offers.getTotalItemCount }}
    </p>
  
  
  <div class="flex items-center gap-2">
    <select name="location" id="location" data-model="on(change)|location" class="mt-1">
      <option value="">Toutes les villes</option>
      <option value="Paris">Paris</option>
      <option value="Lyon">Lyon</option>
      <option value="Marseille">Marseille</option>
      <option value="Toulouse">Toulouse</option>
      <option value="Nice">Nice</option>
      <option value="Nantes">Nantes</option>
      <option value="Montpellier">Montpellier</option>
      <option value="Strasbourg">Strasbourg</option>
      <option value="Bordeaux">Bordeaux</option>
      <option value="Lille">Lille</option>
      <option value="Rennes">Rennes</option>
      <option value="Reims">Reims</option>
      <option value="Le Havre">Le Havre</option>
      <option value="Saint-Etienne">Saint-Etienne</option>
    </select>
  
    <select name="type" id="type" data-model="on(change)|type" class="mt-1">
      <option value="">Tous les types</option>
      <option value="Temps plein">Temps plein</option>
      <option value="Temps partiel">Temps partiel</option>
      <option value="CDI">CDI</option>
      <option value="CDD">CDD</option>
      <option value="Stage">Stage</option>
      <option value="Alternance">Alternance</option>
      <option value="Freelance">Freelance</option>
  
      </select>
    
  
    </div>
  </div>
  
  
  
  <div class="container mx-auto py-8">
    {% if computed.offers|length > 0  %}

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for offre in computed.offers %}
      <a href="{{path('app_offres_show', {'id': offre.id})}}">
      <li class="bg-white hover:bg-gray-100 rounded-lg shadow-md p-6 ani_fadeInUp  aniUtil_active">
        <h2 class="text-xl font-semibold mb-4 ">{{offre.title}}</h2>
        <div class="flex flex-col gap-2">
        <div class="flex justify-start items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 32 32"><path fill="currentColor" d="M16 18a5 5 0 1 1 5-5a5.006 5.006 0 0 1-5 5m0-8a3 3 0 1 0 3 3a3.003 3.003 0 0 0-3-3"/><path fill="currentColor" d="m16 30l-8.436-9.949a35 35 0 0 1-.348-.451A10.9 10.9 0 0 1 5 13a11 11 0 0 1 22 0a10.9 10.9 0 0 1-2.215 6.597l-.001.003s-.3.394-.345.447ZM8.813 18.395s.233.308.286.374L16 26.908l6.91-8.15c.044-.055.278-.365.279-.366A8.9 8.9 0 0 0 25 13a9 9 0 1 0-18 0a8.9 8.9 0 0 0 1.813 5.395"/></svg>        
          <p class="text-gray-900 dark:text-gray-200 ml-2">{{offre.location}}</p>
        </div>
  
        <div class="flex justify-start items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><circle cx="17" cy="7" r="3"/><circle cx="7" cy="17" r="3"/><path d="M14 14h6v5a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zM4 4h6v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1z"/></g></svg>   
          <p class="text-gray-900 dark:text-gray-200 ml-2">{{offre.category}}</p>
        </div>
  
        <div class="flex justify-start items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 2048 2048"><path fill="currentColor" d="M2048 384v1280H0V384h640V256q0-27 10-50t27-40t41-28t50-10h512q27 0 50 10t40 27t28 41t10 50v128zm-1280 0h512V256H768zM128 512v185l640 319V896h512v120l640-319V512zm768 512v128h256v-128zm1024 512V839l-640 321v120H768v-120L128 839v697z"/></svg>
                <p class="text-gray-900 dark:text-gray-200 ml-2">{{offre.type}}</p>
        </div>
  
  <div class="flex justify-end">
    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">{{offre.createdAt | date('d-m-Y')}}</span>
  
  </div>
  
      </div>  
    </li>
  </a>
  
      {% endfor %}
      
    </ul>
    {% else %}
    <p class="text-center font-semibold">Aucune offre disponible pour le moment
    </p>
    {% endif %}
  </div>
      
  <div class="my-5 flex justify-center items-center">
    {{ knp_pagination_render(computed.offers) }}
  </div>
        </div>

</div>